.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
*.ipr
*.iws
.idea/
.vscode/
.DS_Store
Thumbs.db
.env
.env.*
!.env.example
coverage/
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
macos/Flutter/ephemeral/
